

.hero-section-container {
  background-color: #1f2937;
  height: 650px;
}


.header-link-text-container {
  width: 68.5%;
  margin: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 2em;
}
.header-link-text-container .header-links {
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.header-link-text-container .header-logo {
  font-size: 24px;
  color: #f9faf8;
  align-self: baseline;
  font-weight: bold;
}


.hero-main-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 80%;
  margin: auto;
  gap: 6rem;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #f9faf8;
  position: relative;
  padding-top: 2em;
}

.hero-main-text-container p {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: normal;
}

.sign-up-button {
  color: white;
  background-color: #3882f6;
  border-radius: 10px;
  width: 115px;
  height: 35px;
  margin-top: -5px;
  font-weight: 750;
  position: absolute;
}

.hero-main-text-wrapper {
  width: 450px;
}

.hero-main-text-container img {
  width: 50%;
  height: 60%;
}
